.first-line__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px 30px 0;
}

.first-line__inner--favourite {
  display: none;
}

.first-line__inner--favo .first-line__inner--favourite {
  display: block;
}

.firs-line__user{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 26px;
  line-height: 33px;
  font-weight: bold;

&::before {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
  margin-right: 20px;
}
}

.first-line__inner--active .firs-line__user::before {
  background-image: url("../../img/user-1.webp");
}

.first-line__slider-controllers {
  margin-left: auto;
  margin-right: 110px;
  display: none;
}

.first-line__inner--active .first-line__slider-controllers {
  display: block;
}

.first-line__slider-controller-left {
  background-image: url("../img/left.svg");
}

.first-line__favourites::before {
  content: "W";
  text-align: center;
  line-height: 2;
  color: rgba(0, 0, 255,0.5);
  background-color: rgba(80, 126, 212, 0.6);
}

.slider-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  background-position: center center;
  background-size: 7px 11px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.first-line__slider-controller-right {
  background-image: url("../img/right.svg");
}

@media only screen and (max-width: 700px) {

  .first-line__slider-controllers {
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {

  .firs-line__user {
    margin-left: auto;
    margin-right: auto;
  }

  .first-line__slider-controllers {
    display: none;
  }
}