.site-header__inner {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
.site-header__left-side {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
}
.site-header__menu-btn {
  @include btn;
  width: 30px;
  height: 27px;
  background-color: transparent;
  background-image: url('../img/menu.svg');
  background-size: 20px 17px;
  margin-right: 28px;
}
.site-header__right-side {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__form {
  width: 100%;
  max-width: 830px;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
  border-radius: 22px;
  opacity: 0.5;
  margin-right: 50px;
}
.site-header__input {
  border: none;
  padding: 12px 23px;
  width: 100%;
  max-width: 830px;
  outline: none;
  background-color: transparent;
}
.site-header__search-icon {
  width: 19px;
  height: 19px;
  padding: 8px 15px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px 19px;
  margin-right: 20px;
}
.site-header__buttons {
  display: flex;
  align-items: center;
}
.site-header__videocamera-btn {
  width: 37px;
  height: 30px;
  @include btn;
  background-image: url("../img/videocamera-icon.svg");
  margin-right: 50px;
  background-size: 27px 20px;
}

.site-header__function-btn {
  width: 31px;
  height: 31px;
  @include btn;
  background-image: url("../img/function-icon.svg");
  margin-right: 50px;
  background-size: 21px 21px;
}

.site-header__notification-btn {
  width: 38px;
  height: 34px;
  @include btn;
  background-image: url("../img/notification-icon.svg");
  margin-right: 50px;
  background-size: 30px 26px;
}

.site-header__user-menu-btn {
  @include btn;
  width: 42px;
  height: 42px;
  background-image: url("../img/user.png");
  border-radius: 20px !important;
  background-size: 40px 40px;
}
